/* Admin-nav */
.admin-nav-style {
    margin-bottom: 20px;
}

.admin-nav-btn {
    margin-right: 10px;
}

.admin-nav-btn:hover {
    transform: scale(1.05);
}

/* Base */
.base-container {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
    padding: 30px 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.admin-header {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

/* Buttons */

.pink-btn {
    background-color: #ff66b2;
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.pink-btn:hover {
    transform: scale(1.05);
    background-color: #e35b98;
}

/* Buttons with function */

.add-to-cart-btn {
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(120, 120, 120, 0.5);
}
  
.add-to-cart-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 6px 15px rgba(233, 140, 220, 0.8);
    border: none;
} 

.edit-btn {
    background-color: rgb(160, 200, 173);
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.edit-btn:hover {
    transform: scale(1.05);
    background-color: rgb(124, 187, 145);
}

.cancel-btn {
    background-color: #e6949c;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.cancel-btn:hover {
    transform: scale(1.05);
    background-color: #db7d87;
}

.delete-btn-admin {
    background-color: #e6949c;
    padding: 8px 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.delete-btn-admin:hover {
    transform: scale(1.05);
    background-color: #db7d87;
}

.clear-all-btn {
    background-color: rgba(212, 65, 65, 0.897);
    color: white;
    padding: 12px 24px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.clear-all-btn:hover {
    background-color: rgb(185, 9, 9);
    transform: scale(1.05);
}



/* Base form */
.create-edit-form{
     width: 100%;
    }
    
.create-edit-form input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    box-sizing: border-box;
}
    
.create-edit-form label{
    font-weight: bold;
}
    
.create-edit-btns{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
