.order-details-wrapper{
  background-color: white;
  margin: 40px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  position: relative;
}

.product-wrapper {
  margin-top: 60px;
}

.quantity-btn {
    width: 40px; 
    padding: 5px;
}

.order-actions-btn {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}